body{
    background-color: #fff;
}
.img-grad{
    width: 100px;
}

h1 {
   
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 2px blue;
}
.img-grad{
    box-sizing: border-box;
    max-width: 30%;
    max-height: 30%;
}